.vagrant
.classpath
.project
*.prefs
*.db
*~
*.class
trunk/tpms/target/*
*.journal
/trunk/org.diting/target
.settings
target
/trunk/org.diting/target/classes/META-INF/maven/org.diting/org.diting/*.properties
/trunk/org.diting/target/classes/META-INF/maven/org.diting/org.diting/pom.xml
/trunk/org.diting/target/classes/META-INF/MANIFEST.MF
/trunk/tpms/target/classes/META-INF/maven/org.ng12306.tpms/org.ng12306.tpms/*.properties
/trunk/tpms/target/classes/META-INF/maven/org.ng12306.tpms/org.ng12306.tpms/pom.xml
/trunk/tpms/target/classes/META-INF/MANIFEST.MF
